body{
    margin: 0;
    background-color: rgb(240,240,240);
}
.header{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header_title{
    color: rgb(75, 132, 238);
    font-family: Centaur,serif;
    font-size: 35px;
    margin-left: 20px;
}
.link{
    display: grid;
    grid-template-columns: auto auto;
    margin-right: 20px;
}
.link a{
    margin-right: 10px;
}
.link a:link {
    color: rgb(75, 132, 238);
    text-decoration: none;
}
.link a:visited {
    color: rgb(75, 132, 238);
    text-decoration: none;
}
.link a:hover {
    color: hotpink;
}
.link a:active {
    color: blue;
}
.main_part{
    margin:60px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.left_part{
    margin: 60px;
    width: 700px;
}
.big_pic{

}
.big_pic img{
    width: 100%;
}
.right_sidebar{
    margin: 30px;
}