body{
    margin: 0;
}
.header{
    width: 100%;
    height: 60px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.header_title{
    color: rgb(75, 132, 238);
    font-family: Centaur,serif;
    font-size: 35px;
    margin-left: 20px;
}
.link{
    display: none;
    grid-template-columns: auto auto;
    margin-right: 20px;
}
.header a{
    margin-right: 10px;
}
.header a:link {
    color: rgb(75, 132, 238);
    text-decoration: none;
}
.header a:visited {
    color: rgb(75, 132, 238);
    text-decoration: none;
}
.header a:hover {
    color: hotpink;
}
.header a:active {
    color: blue;
}
.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user{
    display: none;
    grid-template-columns: auto auto;
    margin-right: 20px;
}
.user div{
    margin-right: 10px;
}
.wrapper{
    margin: 50px 100px;
}
.list{
    height: 250px;
    width: 100%;
    overflow: scroll;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.container{
    column-count: 5;
    column-gap: 5em;
}
.image-container-fixed{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}
.image-container-fixed a{
}
@keyframes test{
    100%{opacity: 0.6;}
}
.image-container-fixed:hover img{
    animation-name: test;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.image-container{
    margin-bottom: 30px;
    break-inside: avoid;
}
.image-container:hover img{
    animation-name: test;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}
.image{
    width: 100%;
}